

<p>
  <strong>Assosciated users:</strong>
  <%= @assosciated_users %>
</p>


<div>
  <%# <%= link_to "Edit this user", edit_user_path(@user) %>
  <%= link_to "Back to Roles", roles_path %>

  <%= button_to "Destroy this Roles", @role, method: :delete %>
</div>

